/* .card {
    width: 18rem;
    margin: 10rem auto 1.5rem auto;
  }
  
  .card img {
    height: 15rem;
    object-fit: cover;
  }
  
  .card-body {
    height: 12rem;
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 5rem;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
   */